.btn{

    flex-wrap: wrap;
    margin-bottom: 25px;
    display: flex;
  
  

    @media screen and (min-width: $tablet) {
        margin-top: 60px;
        justify-content: center;
        margin-bottom: 30px;
        
    }


    @media screen and (min-width: $desktop) {
        margin-top: 94px;
        margin-bottom: 50px;
    }
    
   
    
}

.btn-element{
    margin-right: 8px;

    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }
   
    
}






.btn-element:last-child{
    margin-right: 0px;
}
.button{
    background: #F5F4FA;
    color:$main-text-color;
    text-align: center; 
    padding-top: 6px; 
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 6px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 0.62;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
       box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   &:hover{
    background:$accent-text-color;
    color:$white-text-color; 
    font-weight: 500;
    font-size: 16px;
    line-height: 0.62;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}  
  
   &:focus{
     background:$accent-text-color;
     color:$white-text-color; 
     font-weight: 500;
     font-size: 16px;
     line-height: 0.62;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
   .all{
   width: 73px;
   height: 38px;
   left: 495px;
   top: 174px;
   }
   
   .web{
   width: 128px;
   height: 38px;
   left: 576px;
   top: 174px;
   }
   .app{
   width: 145px;
   height: 38px;
   left: 712px;
   top: 174px;
   }
   
   .desing{
   width: 103px;
   height: 38px;
   left: 865px;
   top: 174px;
   }
   
   .marketing{
   width: 130px;
   height: 38px;
   left: 976px;
   top: 174px;
   }
   
   
   