.address-footer{
    margin-top: 20px;
    line-height: 1.71;
    font-style: normal;
    
    
}
.address{
    color:$white-text-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}
.contacts-footer-meil{
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    
}

.contacts-footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
}