.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 /*    width: 100%;
    height: 100%; */
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  




  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

/* 
  .form {
    width: 100%;
  }
   */


  .modal {
    

    

   
    background-color: $white-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

   
   

    max-width: 100%;

    min-height: 609px;
    height: 609px;


    @media screen and (max-width: 1199px) {
    margin: 15px;
    padding: 40px;
  }



    @media screen and (min-width: 481px) {
      width: 450px;
      max-width: 450px;
      display: inline-flex;
      position: absolute;
      //margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


   @media screen and (min-width: $tablet) {
   

  top: 42%;

      
    }



    @media screen and (min-width: $desktop) {

    top: 50%;

    
    width: 528px;
    max-width: 528px;


    height: 581px;
    min-height: 581px;
    }
 


  }
  
  .button-close{
    position: fixed;

    top: 21px;
    right: 21px;
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
    border: 1px solid #ececec;
    cursor: pointer;
    background-color: $white-text-color;


    @media screen and (min-width: 481px) {
      top: 8px;
      right: 8px;
    }
   





    
  }
  
  .btn-close{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  



  .modal-title {
    color: $main-text-color;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;

    
    @media screen and (min-width: $desktop) {
      padding-top: 40px;
    }



  }
  
 /*  .form {
    height: 581px;
    width: 528px;
  } */
  

  //поля лабель
  .form-modal {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;

   // width: 370px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: 370px;
    }


    @media screen and (min-width: $desktop) {
      width: 448px;
    }
   

  }
  
  .form-modal:nth-last-child(3) {
    padding-bottom: 20px;
  }
  
  .user-name {
    color: $secondary-text-color;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    padding-bottom: 4px;
    text-align: left;

  }
  
  .modal-input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 0px 12px 40px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    
    &:focus{
    border: 1px solid #2196F3;;
  }
  }
  
  .comment {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    font-weight: normal;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    
    &:focus{
    border: 1px solid #2196F3;;
  }
  }
  
  
  
  
  .icon-modal{
    position: absolute;
    top: 32px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .modal input.modal-input:focus+svg.icon-modal {
   fill: #2196F3;;
  }
  
  .comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  
  .checkbox {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $main-text-color;
    border-radius: 2px;
    width: 10px;
    height: 10px;

    margin-right: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (min-width: 450px) {
        width: 16px;
        height: 15px;
        margin-right: 8px;
      }


  }
  
  .checkbox:checked + .checkbox-icon {
    border-color: $accent-text-color;
    background-color: $accent-text-color;
    background-image: url(../img/chack.svg);
    background-size: contain;
    
  }
  
  .checkbox-label {
    display: inline-flex;
    align-items: center;
    padding-bottom: 30px;
    
  }
  
  .checkbox-title {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;


    @media screen and (max-width: 479px) {
      font-size: 11px;
    }


    @media screen and (min-width: $desktop) {
      font-size: 14px;
    }
   
    
  }
  
  .checkbox-policy {
    color: $accent-text-color;
    text-decoration: underline;
  }
  
  .btn-modal {
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
  
    background-color: #2196F3;
    color: $white-text-color;
    border-radius: 4px;
    border: 0;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
  
  
  &:focus {
    background-color: #188CE8;
    color: $white-text-color;
  }
}
